.contact-us-page-container .community-page-header {
    background: rgb(167,52,52);
    background: radial-gradient(circle, rgba(167,52,52,1) 0%, rgba(130,76,76,0) 100%);

    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 50px;
    margin-bottom: 100px;

    text-align: center;
    letter-spacing: 0.75em;
}

.contact-us-page-container .grid-container {
    display: grid;
    grid-template-columns: auto 1280px auto;
}

.contact-us-page-container .section-header {
    border-radius: 20px;

    padding-top: 5px;
    padding-bottom: 5px;

    margin: 50px 0;
}

.contact-us-page-container .section-header.type1 {
    background: rgb(130,76,76);
    background: linear-gradient(90deg, rgba(130,76,76,1) 0%, rgba(175,175,175,0) 50%);

    padding-left: 20px;
}

.contact-us-page-container .section-header.type2 {
    background: rgba(130,76,76,80%);
    box-shadow: 0 0 20px 10px rgb(143, 93, 93);
    text-align: center;
}

/* QA-BOX STYLES */
.qa-box-container {
    width: 640px;
    padding: 10px 40px 10px 20px;
    margin-bottom: 50px;
    box-sizing: border-box;

    border: 5px inset black;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px lightgray;

    background-color: lightgray;
}

.qa-box-container h3, .qa-box-container p {
    color: black;
}

.qa-box-container p {
    font-family: Arial, sans-serif;
}
.qa-box-container h3 {
    margin: 0;
}

.qa-box-container .flex-container {
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

.qa-box-container button {
    flex-basis: fit-content;
    margin-left: auto;

    border: 0;
    background: transparent;

    cursor: pointer;
}

.qa-box-container button img {
    width: 25px;
}
/** end **/

/* LIST STYLES*/
.contact-us-page-container .faq-list li, ul {
    margin-bottom: 1em;
}
.contact-us-page-container .faq-list li ul {
    list-style-type: disc;
}

.contact-us-page-container a {
    text-decoration: underline;
    color: inherit;
}

.contact-us-page-container .faq-sections-list > li::marker {
    font-size: 1.5em;
}

.contact-us-page-container .faq-sections-list ul {
    list-style-type: disc;
}

.contact-us-page-container .faq-sections-list ul li::marker {
    font-size: 1.25em;
}

/* ############################# FORM STYLES ############################# */
.contact-us-page-container .contact-us-form {
    width: fit-content;
}

.contact-us-page-container .contact-us-form > div {
    margin-bottom: 10px;
}

.contact-us-page-container .contact-us-form button[type="submit"] {
    display: block;

    font-variant: small-caps;
    font-weight: bold;
    font-family: "Anta", serif;
    letter-spacing: 0.1rem;

    border-radius: 10px;
    padding: 0.5em 1em;
    margin-left: auto;
    margin-right: auto;

    transition: all 0.1s ease-in-out;
}

.contact-us-page-container .contact-us-form button[type="submit"]:hover {
    transform: scale(1.1,1.1);
}

.contact-us-page-container .contact-us-form textarea {
    border-radius: 10px;
    resize: none;
}

.contact-us-page-container .submit-alert-container {
    color: lightgreen;
}