
/******************************UNIVERSAL STYLES******************************/

body {
  margin: 0;
  font-family: "Anta", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("../../public/backgroundimg.jpg");
  background-repeat: repeat;
  background-size: contain;
}

/******************************GENERAL PAGE CONTAINER STYLES******************************/
.homepage-container, .storepage-container, .community-events-container, .contact-us-page-container {
  min-width: 100%;
  min-height: 100%;

  color: lightgray;
}

/************************************************************/
.gen-page-header-container {
  position: sticky;
  top:0;

  z-index: 1000;
}

.navbar-container {
  display: flex;
  align-items: center;

  min-width: 960px;

  border-radius: 10px;
}

.navbar-container *{
  font-family: inherit;
}

.navbar-container .navbar-start {
  margin-right: 5rem;
}
.navbar-container .navbar-start *{
  font-style: italic;

  color: lightgray;
  margin: 0;
  padding: 0;
}

.navbar-container h1 {
  font-size: 2rem;
  font-weight: 1000;

  text-shadow: lightgray 1px 1px 20px;
}

.navbar-container h2 {
  font-size: 0.75rem;
  text-align: center;
}

.navbar-container .search-bar {
  margin-left: auto;
}

/* CSSTransition States */

.navbar-container.navbar-state-enter {
  background: transparent;
}

.navbar-container.navbar-state-enter-active {
  background-color: rgb(16, 16, 16);
  box-shadow: 0 5px 10px 10px rgb(16, 16, 16);
  padding: 10px 30px;

  transition: all 500ms ease-in-out;
}

.navbar-container.navbar-state-enter-done, .navbar-container.navbar-state-exit {
  background-color: rgb(16, 16, 16);
  box-shadow: 0 5px 10px 10px rgb(16, 16, 16);
  padding: 10px 30px;
}

.navbar-container.navbar-state-exit-active {
  background: transparent;
  box-shadow: 0 0 0 0 transparent;
  padding: 0;

  transition: all 500ms ease-in-out;
}
.navbar-container.navbar-state-exit-done {
  background: transparent;
}

/* --end-- */

/******************************PAGE FOOTER STYLES******************************/
.page-footer-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  height: 300px;
  width: 100%;

  margin-top: 200px;

  background-color: rgb(16, 16, 16);
}

.page-footer-container hr {
  margin-top: 0;

  border: 1px inset black;
}

.page-footer-container .flex-container {
  display: flex;
  justify-content: space-evenly;

  padding: 0 100px;
}

.page-footer-container .footer-section-container ul {
  list-style: none;
  padding: 0;
}

.page-footer-container .footer-section-container li {
  margin-bottom: 5px;
}

.page-footer-container h3 {
  color: white;
  text-decoration: underline;
}

.page-footer-container a {
  text-decoration: none;

  color: lightgray;
}

.page-footer-container p {
  text-align: center;
  font-style: italic;

  text-shadow: 1px 1px 10px lightgray;
}

.page-footer-container span {
  text-decoration: underline;
}

/******************************SEARCH BAR STYLES******************************/
.search-bar {
  display: flex;
  position: relative;
  top: -10px;
}

.search-bar form input {
  position: absolute;
  top: 0;
  right: 0;

  height: 2.5em;
  border-radius: 10px;
  text-align: right;
}

/* CSSTransition States */

.search-bar .input-search-bar-enter {
  opacity: 0;
  width: 1.75em;
}

.search-bar .input-search-bar-enter-active {
  opacity: 1;
  width: 20em;

  transition: all 250ms ease-in-out;
}

.search-bar .input-search-bar-enter-done, .input-search-bar-exit {
  opacity: 1;
  width: 20em;
}

.search-bar .input-search-bar-exit-active {
  opacity: 0;
  width: 1.75em;

  transition: all 250ms ease-in-out;
}
.search-bar .input-search-bar-exit-done {
  display: none;
}

/* --end-- */

.search-bar button {
  position: absolute;
  top: 5px;

  border: none;
  background: none;

  padding: 0;

  z-index: 100;
}

.search-bar button svg {
  transition: transform 0.2s;
}

.search-bar button svg:hover {
  transform: scale(1.5,1.5);
  cursor: pointer;
}

/* CSSTransition States */
.search-bar .search-button-enter {
  right: 5px;
}
.search-bar .search-button-enter-active {
  right: 235px;
  transition: all 250ms ease-in-out;
}
.search-bar .search-button-enter-done, .search-button-exit {
  right: 235px;
}
.search-bar .search-button-exit-active {
  right: 5px;
  transition: all 250ms ease-in-out;
}
.search-bar .search-button-exit-done {
  right: 5px;
}

/* --end-- */
/******************************NAVBAR STYLES******************************/

.navbar ul{
  list-style-type: none;
}

.navbar li{
  position: relative;
  top: 0.5rem;
  display: inline-block;
  margin-right: 4rem;
  /*width: 2rem;*/
}

.nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 0;
  background-color: transparent;
}

.nav-button svg {
  margin-bottom: 10px;
}

.nav-button p {
  margin: 0;
  padding: 0;

  color: lightgray;
  text-shadow: lightgray 1px 1px 20px;

  transform: scale(1);
  transition: all 0.2s;
}

.nav-button p:hover {
  transform: scale(1.25);
}

.nav-button *:hover {
  cursor: pointer;
}

/******************************BANNER STYLES******************************/
@keyframes fadeInOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.1;
  }
}

.banner-container {
  background: rgb(167,52,52);
  background: radial-gradient(circle, rgba(167,52,52,1) 0%, rgba(130,76,76,0) 100%);

  border-radius: 50px;

  animation: fadeInOut 3s ease-in-out infinite alternate;
}

.banner-container h2 {
  font-size: 1.5rem;
  font-weight: 1;
  font-variant: small-caps;

  text-align: center;

  border-top: 5px ridge rgb(128, 41, 41);
  border-bottom: 5px ridge rgb(128, 41, 41);

  padding-top: 5px;
  padding-bottom: 5px;

}

/******************************EXPANDING CARDS STYLES******************************/
.expanding-cards-container {
  display: flex;
  justify-content: center;
  height: 640px;
}

.expanding-cards-container .panel {
  flex: 0.1;

  position: relative;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100%;
  margin: 10px 20px;

  border-radius: 50px;
  color: #fff;

  cursor: pointer;
  transition: all 700ms ease-in, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.expanding-cards-container .panel:hover {
  transform: scale(1.1,1.1);
  box-shadow: 0 0 10px 5px lightgray;
}

.expanding-cards-container .panel h3, .panel p {
  position: absolute;
  left: 30px;

  opacity: 0;
}
.expanding-cards-container .panel h3 {
  bottom: 60px;

  margin: 0;

  font-size: 1.75rem;
}

.expanding-cards-container .panel p {
  bottom: 20px;

  margin: 0;
}

/* CSSTransition States */
.expanding-cards-container .panel-state-enter {
  flex: 0.1;
}
.expanding-cards-container .panel-state-enter-active {
  flex: 1;
  transition: all 500ms ease-in-out;
}
.expanding-cards-container .panel-state-enter-done, .panel-state-exit {
  flex: 1;
}
.expanding-cards-container .panel-state-exit-active {
  flex: 0.1;
  transition: all 500ms ease-in-out;
}
.expanding-cards-container .panel-state-exit-done {
  flex: 0.1;
}
/* --end-- */
.expanding-cards-container .panel-state-enter-done h3,.panel-state-enter-done p {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/******************************MEDIA-PROMO STYLES******************************/

.media-promo-container {
  display: flex;
}

.media-promo-container p {
  line-height: 1.75rem;
}
.media-promo-container h2 {
  text-align: center;
  font-variant: small-caps;
  text-decoration: underline;
}
.media-promo-container img{
  border: 5px solid black;

  border-radius: 20px;
  box-shadow: 1px 1px 10px lightgray;

}

/******************************CATEGORYITEM STYLES******************************/
.category-item-container {
  width: fit-content;
}

.category-item-container button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.category-item-container img {
  display: block;
  box-sizing: border-box;
  border-color: black;
  border-style: outset;
  border-radius: 50%;

  background-color: transparent;
  padding: 10px;

  object-fit: cover;
  transition: all 0.2s;
}

.category-item-container .category-item-title {
  margin-top: 10px;
  text-align: center;

  font-variant: small-caps;
}

.category-item-container img:hover {
  cursor: pointer;

  border: 2px solid lightgray;
  box-shadow: 1px 1px 10px lightgray;

  transform: scale(1.1,1.1);
}

/******************************MEDIA NAVIGATOR STYLES******************************/
:root {
  --line-border-fill: #d5d5d5;
  --line-border-empty: #383838;
}
.media-navigator-container .media-promo-container {
  margin-bottom: 50px;
}

.media-navigator-container .buttons-container,.media-navigator-container .progress-container {
  margin-left: auto;
  margin-right: auto;
}

.media-navigator-container .buttons-container {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.media-navigator-container button {
  padding: 0;
  border: 0;

  background: 0;
}

.media-navigator-container button:enabled {
  cursor: pointer;
  transition: transform 0.25s ease-in-out;

}

.media-navigator-container button:enabled:hover {
  transform: scale(1.2,1.2);
}

.media-navigator-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.media-navigator-container .progress-container {
  display: flex;
  justify-content: space-between;

  position: relative;

  max-width: 100%;
  width: 320px;

  margin-bottom: 30px;
}

.media-navigator-container .progress-container::before {
  content: '';
  background-color: var(--line-border-empty);

  width: 100%;
  height: 4px;

  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);
  z-index: 1;
}

.media-navigator-container .progress {
  position: absolute;
  top: 50%;
  left: 0;

  width: 0;
  height: 4px;
  background-color: var(--line-border-fill);

  transform: translateY(-50%);
  transition: 0.4s ease;
  z-index: 2;
}

.media-navigator-container .circle {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  background-color: #1f1f1f;
  color: #e2e2e2;

  border: 3px solid var(--line-border-empty);
  border-radius: 50%;

  z-index: 3;
}

.media-navigator-container .circle.active {
  border-color: var(--line-border-fill);

  box-shadow: 0 0 10px 2px lightgray;
}