
.homepage-container hr {
    border: 1px solid lightgray;
}

.homepage-container .grid-container {
    display: grid;
    grid-template-columns: auto 1280px auto;
}

.homepage-container .middle-container {

}

.homepage-container .body-container > p {
    font-size: 3rem;
    text-wrap: normal;
    font-weight: 1;
    font-variant: small-caps;

    margin-top: 0;

    line-height: 4.5rem;
    letter-spacing: 0.25em;
    text-align: center;
    text-shadow: lightgray 1px 10px 10px;
    white-space: pre-wrap;
}

.homepage-container .body-container > p span {
    text-decoration: underline;
}