body {
  margin: 0;
  font-family: "Anta", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f1f1f;
  /*
  min-width: 1280px;
  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/******************************GENERAL PAGE CONTAINER STYLE******************************/
.homepage-container, .storepage-container {
  min-width: 100vw;
  min-height: 100vh;

  color: lightgray;
  background-image: url("../public/backgroundimg.jpg");
  background-repeat: repeat;
  background-size: contain;
}

/************************************************************/
.page-header {
  display: flex;
  align-items: center;

  position: sticky;
  margin-top: 1rem;
  min-width: 960px;
}

.page-header *{
  font-family: inherit;
}

.page-header .header-start {
  margin-right: 5rem;
}
.page-header .header-start *{
  font-style: italic;

  color: lightgray;
  margin: 0;
  padding: 0;
}

.page-header h1 {
  font-weight: 1000;

  text-shadow: lightgray 1px 1px 20px;

}

.page-header h2 {
  font-size: 0.75rem;
  text-align: center;
}

.page-header .search-bar {
  margin-left: auto;
}

/************************************************************/
.search-bar {
  display: flex;
  align-items: center;

  position: relative;
}

.search-bar form input {
  display: none;
  position: absolute;
  top: 0;
  right: 0;

  border-radius: 10px;
  height: 2em;
  width: 1.75em;

  transition: all 0.2s;
}

.search-bar button{
  border: none;
  background: none;

  margin-left: 10px;
  padding: 0;
}

.search-bar button svg {
  transition: all 0.2s;
}

.search-bar button svg:hover {
  height: 2.5em;
  width: 2.5em;

  cursor: pointer;
}
.search-bar span {
  color: lightgray;
}

/************************************************************/
.navbar ul{
  list-style-type: none;
}

.navbar li{
  position: relative;
  top: 0.5rem;
  display: inline-block;
  margin-right: 4rem;
  /*width: 2rem;*/
}

/************************************************************/

.nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 0;
  background-color: transparent;
}

.nav-button svg {
  margin-bottom: 10px;
}

.nav-button p {
  margin: 0;
  padding: 0;

  color: lightgray;
  text-shadow: lightgray 1px 1px 20px;

  transform: scale(1);
  transition: all 0.2s;
}

.nav-button p:hover {
  transform: scale(1.25);
}

.nav-button *:hover {
  cursor: pointer;
}

/******************************BANNER******************************/
@keyframes fadeInOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.1;
  }
}

.banner-container {
  background: rgb(167,52,52);
  background: radial-gradient(circle, rgba(167,52,52,1) 0%, rgba(130,76,76,0) 100%);
  /*
  box-shadow: 1px -1px 29px 10px rgba(120,0,0,0.75);
  */
  border-radius: 50px;

  animation: fadeInOut 3s ease-in-out infinite alternate;
}

.banner-container h2 {
  font-size: 1.5rem;
  font-weight: 1;
  font-variant: small-caps;

  text-align: center;

  border-top: 5px ridge rgb(128, 41, 41);
  border-bottom: 5px ridge rgb(128, 41, 41);

  padding-top: 5px;
  padding-bottom: 5px;

}

/******************************EXPANDING CARDS******************************/

/******************************MEDIA-PROMO******************************/

.media-promo-container {
  display: flex;
  /*
  align-items: center;
  */
}
/*.media-promo-container .content-body-container {
  margin: 0 auto 0 5%;
}*/

.media-promo-container p {
  line-height: 1.75rem;
}
.media-promo-container h2 {
  text-align: center;
  font-variant: small-caps;
  text-decoration: underline;
}
.media-promo-container img{
  border: 5px solid black;

  border-radius: 20px;
  box-shadow: 1px 1px 10px lightgray;

}

/******************************CATEGORY ITEM******************************/
.category-item-container {
  width: fit-content;
}

.category-item-container button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.category-item-container img {
  display: block;
  box-sizing: border-box;
  border-color: black;
  border-style: outset;
  border-radius: 50%;

  background-color: transparent;
  padding: 10px;

  object-fit: cover;
  transition: all 0.2s;
}

.category-item-container .category-item-title {
  margin-top: 10px;
  text-align: center;

  font-variant: small-caps;
}

.category-item-container img:hover {
  cursor: pointer;

  border: 2px solid lightgray;
  box-shadow: 1px 1px 10px lightgray;

  transform: scale3d(1.1,1.1,1.1);
}